<%- model_class = @job.class -%>
<div class="page-header">
  <h1><%= @job.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= simple_format(display_attribute(@job.description)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:open) %>:</strong></dt>
  <dd><%= @job.open %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', jobs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_job_path(@job), :class => 'btn' %>
  <%= link_to 'Destroy',
              job_path(@job),
              :method => 'delete',
              :confirm => 'Are you sure?',
              :class => 'btn btn-danger' %>
</div>
