<%= simple_form_for @candidate, :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :github %>
  <%= f.input :linkedin %>
  <%= f.input :website %>
  <%= f.input :coding_test %>
  <%= f.input :salary_expectation, :as => :string %>
  <%= f.association :job %>
  <%= f.association :state, :include_blank => false %>
  <%= f.association :agent %>
  <%= f.input :cv, :label => 'CV', :as => :file %>
  <%= existing_cv_helper(@candidate) %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', candidates_path, :class => 'btn' %>
  </div>
<% end %>