<%- model_class = Candidate.new.class -%>
<div class="page-header">
  <h1><%= "#{model_class.model_name.human.pluralize} List" %></h1>
</div>

<%= link_to 'Add Candidate', new_candidate_path, :class => 'btn btn-primary' %>

<div class="candidate_filter">
  <%= form_tag '/candidates', :method => :get do %>
    <strong><p>Filter by job:</p></strong>
    <%= select_tag :job, options_from_collection_for_select(@jobs, "id", "title"), :include_blank => true %>
    <%= submit_tag 'Filter' %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:job) %></th>
      <th><%= model_class.human_attribute_name(:state_id) %></th>
      <th><%= model_class.human_attribute_name(:interview_date) %></th>
      <th><%= 'CV' %></th>
    </tr>
  </thead>
  <tbody class="candidate_list">
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.name, candidate_path(candidate) %></td>
        <td><%= candidate.email %></td>
        <td><%= display_internal_link(candidate.job, :title) %></td>
        <td><%= state_label_helper(candidate.state) %></td>
        <td><%= candidate.interview_date %></td>
        <td><%= cv_link_helper(candidate) %></td>
        <td>
          <%= link_to 'Edit', edit_candidate_path(candidate), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


