<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Email:</b>
  <%= @candidate.email %>
</p>

<p>
  <b>Github:</b>
  <%= @candidate.github %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @candidate.linkedin %>
</p>

<p>
  <b>Website:</b>
  <%= @candidate.website %>
</p>

<p>
  <b>CV:</b>
  <%= link_to 'CV', download_cv_candidate_path(@candidate) %>
</p>

<p>
  <b>State:</b>
  <%= @candidate.state.current %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>

<div id="notes_container">
  <h2>Notes</h2>
  <%= form_for [@candidate, @note] do |n|%>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this candidate from being saved:</h2>

        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= n.label :author %>
      <%= n.text_field :author %>
    </div>
    <div class="field">
      <%= n.label :body, 'Comment' %>
      <%= n.text_field :body %>
    </div>
    <div class="actions">
      <%= n.submit %>
    </div>
  <% end %>

  <%= render @notes %>
<div>
