<%- model_class = @candidate.class -%>
<div class="page-header">
  <h1><%= @candidate.name %></h1>
</div>

<div class="row candidate_profile">
  <div class="span5">
    <div class="cv_management">
      <span class="cv_icon"><%= cv_link_helper(@candidate) %></span>
    </div>

    <dl class="dl-horizontal">
      <dt><%= model_class.human_attribute_name(:email) %></dt>
      <dd><%= dl_attribute_display_helper(@candidate.email)%></dd>
      <dt><%= model_class.human_attribute_name(:github) %></dt>
      <dd><%= dl_attribute_display_helper(@candidate.github) %></dd>
      <dt><%= model_class.human_attribute_name(:linkedin) %></dt>
      <dd><%= dl_attribute_display_helper(@candidate.linkedin) %></dd>
      <dt><%= model_class.human_attribute_name(:website) %></dt>
      <dd><%= dl_attribute_display_helper(@candidate.website) %></dd>
      <dt><%= model_class.human_attribute_name(:coding_test) %></dt>
      <dd><%= dl_attribute_display_helper(@candidate.coding_test) %></dd>
      <dt><%= model_class.human_attribute_name(:state) %></dt>
      <dd><%= state_label_helper(@candidate.state) %></dd>
    </dl>

    <div class="profile_navigation">
      <%= link_to 'Back', candidates_path, :class => 'btn' %>
      <%= link_to 'Edit', edit_candidate_path(@candidate), :class => 'btn' %>
    </div>
  </div>

  <div class="span7 notes_container">
    <h3>Notes</h3>
    <%= simple_form_for [@candidate, @note] do |n|%>
      <%= n.input :author, :required => false, :label => false, :placeholder => 'author' %>
      <%= n.input :body, :required => false, :label => false, :placeholder => 'comment', :input_html => {:rows => 3} %>
      <%= n.button :submit, 'Post', :class => 'btn btn-primary' %>
    <% end %>

    <%= render @all_candidate_notes if @all_candidate_notes %>
  </div>
</div>